In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from IPython.core.display import display, HTML
import time

In [3]:
df=pd.read_csv("/content/zomato_data.csv")

In [4]:
df.shape

(51717, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  object
 1   book_table                 51717 non-null  object
 2   rate                       43942 non-null  object
 3   votes                      51717 non-null  int64
 4   rest_type                  51490 non-null  object
 5   dish_liked                 23639 non-null  object
 6   cuisines                   51672 non-null  object
 7   approx_costfor_two_people  51371 non-null  object
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

In [6]:
df.describe()

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

In [12]:
df.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity'],
      dtype='object')

In [10]:
# how many restraunts serve north indian cuisine
df[df['cuisines'].str.contains('North Indian',na=False)].shape[0]

21085

In [ ]:
# what cuisine is most commolny offered by restraunts in bangalore

In [14]:
# which locality in banglore has the highest average cost for dining9for two people)
df.groupby('listed_incity')['average_cost_for_two'].mean().sort_values(ascending=False).head(1)

KeyError: 'Column not found: average_cost_for_two'

In [17]:
# which restraunt type has the top rating with over 1000 votes
df['rate'] = pd.to_numeric(df['rate'].str.split('/').str[0], errors='coerce')
df[df['votes'] > 1000].groupby('rest_type')['rate'].mean().sort_values(ascending=False).head(1)

rest_type
Bakery    4.8
Name: rate, dtype: float64

In [20]:
# how much does it cost at minimum to eT out in banglore
df.groupby('listed_incity')['approx_cost(for two people)'.replace(' ', '')].min()
 # Replacing the spaces in column name with no space to form the correct name

KeyError: 'Column not found: approx_cost(fortwopeople)'

In [ ]:
# what percentge of toal online orders is received by restraunt in banashankari

In [ ]:
# which locality has the most restraunts with over 500 votes and a rating below 3.0

In [22]:
# which locality in banglore should zomato target for expasion based on restraunt type diversity
# Count unique restaurant types per locality
rest_type_diversity = df_clean.groupby('listed_incity')['rest_type'].nunique()

# Sort in descending order
rest_type_diversity_sorted = rest_type_diversity.sort_values(ascending=False)

# Show top 5 localities with the most diverse restaurant types
print(rest_type_diversity_sorted.head())
# Localities with the least diversity
rest_type_diversity_sorted.tail()

NameError: name 'df_clean' is not defined

In [23]:
# what is the average cost difference between buffet and delivery restraunts
# Filter the two categories
buffet_cost = df_clean[df_clean['listed_intype'] == 'Buffet']['approx_costfor_two_people'].mean()
delivery_cost = df_clean[df_clean['listed_intype'] == 'Delivery']['approx_costfor_two_people'].mean()

# Calculate the difference
cost_difference = buffet_cost - delivery_cost

print(f"Buffet Avg Cost: ₹{buffet_cost:.2f}")
print(f"Delivery Avg Cost: ₹{delivery_cost:.2f}")
print(f"Difference: ₹{cost_difference:.2f}")

NameError: name 'df_clean' is not defined

In [27]:
df_clean = df.dropna()

buffet_cost = df_clean[df_clean['listed_intype'] == 'Buffet']['approx_costfor_two_people'].mean()
delivery_cost = df_clean[df_clean['listed_intype'] == 'Delivery']['approx_costfor_two_people'].mean()

# Calculate the difference
cost_difference = buffet_cost - delivery_cost

print(f"Buffet Avg Cost: ₹{buffet_cost:.2f}")
print(f"Delivery Avg Cost: ₹{delivery_cost:.2f}")
print(f"Difference: ₹{cost_difference:.2f}")

TypeError: Could not convert string '8008008003006006009001,0007505501,6001,2008001,0001,0001,0001,0009506001,0006006009501,5007508008001,0005501,3501,2001,5001,4002,0001,0001,4001,8001,2001,5001,5001,1001,5001,0007008002,0001,5001,4001,3001,6001,3001,0001,5001,1001,5001,3005007001,9001,5001,2001,5008006501,0001,8002,2002,1003,0001,2002,8001,7001,4001,6002,5007503,0001,5005001,0001,5003,4002,0001,2001,7001,2001,6002,0001,3002,2001,3001,6003,0001,0001,2001,0001,4001,9008001,0005001,2006501,3001,7001,8001,6001,1006007007501,6001,4001,1001,0001,8001,7001,5001,2002,5001,0001,5002,0008001,5002,0001,9001,2001,2001,2006001,1001,6001,3001,6001,1008006001,1001,4002,0001,5001,2009001,6001,3001,5001,3001,0001,5001,5001,5001,5006001,1007507001,4008001,0009002,0009001,0004009501,0001,2001,5001,2001,7007501,8001,5002,2003,0002,1002,8001,4001,6002,5003,0005001,5001,0003,4002,0001,5001,3001,7001,2001,6008002,2002,0001,2001,0001,9006501,4001,0008001,0001,3001,6003,0005001,0001,2006502,5001,3001,2001,7001,8001,6001,1001,2001,5001,2001,6006001,1003,0002,2001,2001,4008002,0009008508001,5007501,3002,8001,3001,7002,2001,8001,6001,1001,4001,5001,8006001,2001,0008507506008004001,0001,6001,5001,5009001,2001,5001,9001,0001,2001,8001,6002,1001,2001,7001,4001,1001,3008001,0001,3007501,6009001,7001,1001,2001,2004008501,2001,5001,7001,0001,1003,5003,0002,1002,8002,2003,0001,4001,5003,0001,1001,0009501,0001,5007506005501,3501,2001,6009001,6001,2001,0008001,1001,0008006008009001,0009501,1001,6001,2001,0008001,0006001,0008009001,0009509001,0001,6001,0001,1006001,2001,3501,4001,4001,6008006007501,5008001,0001,4007501,3001,5001,4006001,0001,7001,5002,0001,2001,0001,5001,6001,5001,3001,5001,5002,0001,5007509001,1001,1006001,0001,4007008002,0001,0009001,0003,0001,0001,2001,5008004006008001,1001,4001,2001,3002,0001,5001,3001,5007501,1001,4007001,0001,0006001,6001,5001,5001,5002,0001,5001,0009001,1006001,7001,5001,0008002,0001,0009001,3008001,3002,0001,4002,0006001,0009001,5001,2001,5001,3001,0006001,5001,5001,5001,5001,1007509001,7001,0007001,5001,4008001,0002,0001,0001,5008001,1001,4001,2002,0001,5001,5001,5008001,0001,5001,3001,5001,3001,0006001,5002,0006001,1007509001,7001,0007001,1001,5001,0001,4002,0009001,0001,3001,1008001,0001,6002,2001,2001,4001,0001,5001,6001,2001,8001,5001,5002,1003,0001,2001,7007503,0001,5005002,5001,5003,4002,0001,2008001,7001,2002,0001,3001,3001,3001,6003,0001,0001,0006501,4001,9008001,0001,0005001,2006502,8001,6004,1003,4001,3001,7001,8001,1007501,1001,2002,0001,7001,5009501,0001,2002,4008004,1001,5001,4003,0001,2006008006009002,5001,4001,5001,5001,6001,3001,4001,1001,3001,2002,7001,0001,6001,5001,5001,7001,3007501,0001,0001,2006007007501,2006001,5001,5002,2002,1003,0003,0001,5001,6003,0008001,8001,2002,8001,7001,4001,6001,5002,5007505001,0001,5003,4002,0001,2008001,7001,6002,0001,3002,2001,2001,0001,2006501,4001,9001,0001,0005001,2006501,3001,7001,2001,3001,0001,1001,4001,1001,8009001,8001,2003,0003,5002,2001,4001,5001,6001,9001,4001,7001,5001,2001,3006007508001,0001,2001,2001,5001,7001,0001,1001,6008001,8007501,0006009006002,0001,2001,7001,5001,1001,0001,0001,2001,5005003,4002,0001,9001,8001,5002,2002,1003,0001,2001,7001,4002,5007503,0001,5001,0001,5001,5002,0001,2008001,2001,7001,6001,3001,6003,0001,0001,2001,0006501,4008001,0001,0005001,2006502,8001,6001,3001,7001,3001,8001,6001,0001,1001,5002,0001,4001,6001,3001,8001,1001,5001,5005007001,9001,0001,4001,5001,2002,5001,5001,5001,1001,5001,000700800' to numeric

In [29]:
# what is the average rating of restraunts that serve both north indian and chinese cusines
df_clean = df.dropna()
df['rate_cleaned'] = df['rate'].str.extract(r'(\d+\.?\d*)')
df['rate_cleaned'] = pd.to_numeric(df['rate_cleaned'], errors='coerce')
def serves_north_indian_and_chinese(cuisines):
    if pd.isnull(cuisines):
        return False
    cuisines_list = [c.strip().lower() for c in cuisines.split(',')]
    return 'north indian' in cuisines_list and 'chinese' in cuisines_list

df_filtered = df[df['cuisines'].apply(serves_north_indian_and_chinese)]
average_rating = df_filtered['rate_cleaned'].mean()

print(f"Average rating of restaurants serving both North Indian and Chinese cuisines: {average_rating:.2f}")

AttributeError: Can only use .str accessor with string values!

In [33]:
# what is the most pofitable area for zomato based on potential revenue estimation
average_rating_by_locality = df.groupby('listed_incity')['rate'].mean().sort_values(ascending=False)
print(average_rating_by_locality.head())

listed_incity
Church Street     3.804262
MG Road           3.802023
Brigade Road      3.801146
Residency Road    3.781222
Lavelle Road      3.776818
Name: rate, dtype: float64

In [36]:
# if zomatao wants to reduce customer complaints which restraunt type should they focus on
if df['rate'].dtype == object:
    df['rate'] = df['rate'].str.extract(r'(\d+\.?\d*)')

df['rate'] = pd.to_numeric(df['rate'], errors='coerce')
df_clean = df.dropna(subset=['rest_type', 'rate'])
avg_rating_by_rest_type = df_clean.groupby('rest_type')['rate'].mean().sort_values()
print("Restaurant types with lowest average ratings (potential high complaints):")
print(avg_rating_by_rest_type.head(5))

Restaurant types with lowest average ratings (potential high complaints):
rest_type
Dessert Parlor, Kiosk        3.000000
Bakery, Food Court           3.100000
Bakery, Beverage Shop        3.200000
Food Court, Casual Dining    3.240000
Bhojanalya                   3.266667
Name: rate, dtype: float64

In [39]:
# in which area should zomato invest by comsidering high rating (rate>4.2) hgh number of votes(>500 and including online orders)
if df['rate'].dtype == object:
    df['rate'] = df['rate'].str.extract(r'(\d+\.?\d*)')
    df['rate'] = pd.to_numeric(df['rate'], errors='coerce')
filtered_df = df[
    (df['rate'] > 4.2) &
    (df['votes'] > 500) &
    (df['online_order'].str.lower() == 'yes')
]

top_areas = filtered_df['listed_incity'].value_counts().head(10)
print("Top areas where Zomato should consider investing:")
print(top_areas)

Top areas where Zomato should consider investing:
listed_incity
MG Road                  97
Koramangala 7th Block    97
Church Street            95
Koramangala 4th Block    95
Brigade Road             94
Koramangala 5th Block    92
BTM                      91
Koramangala 6th Block    90
Lavelle Road             82
Residency Road           81
Name: count, dtype: int64